body {
  font-family: "Roboto", sans-serif;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

h1,h2{
  margin: 0;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.button {
  padding: 0;
  background-color: transparent;
  border: none;
}

.container {
  max-width: 250px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;

  outline: 1px solid white;
}

/* STYLES OF MAIN PAGE */
.main-page {
  padding-top: 10px;
  padding-bottom: 70px;

  background-color: #978b8b;
}

.main-text {
  margin-bottom: 10px;

  font-size: 23px;

  text-align: center;

  color: #ffffff;
}

.main-list {
  padding: 10px;

  border-radius: 10px;
  background-color: #575151;
  box-shadow: 3px 3px 0px -2px rgba(0, 0, 0, 0.77);
}

.main-item {
  padding: 5px;

  background-color: #f68424;
  border-radius: 5px;
}

.main-item:not(:last-child) {
  margin-bottom: 10px;
}

.main-link {
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.8px;

  display: block;

  color: #ffffff;
}

.main-number {
  margin-right: 20px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-weight: 400;

  width: 30px;
  height: 30px;

  border: 1px solid transparent;
  border-radius: 50%;

  background-color: #ea7614;
  box-shadow: -1px 6px 2px -6px rgba(0, 0, 0, 1) inset;
}

/* STYLES OF LEADERBOARD */
.leader-page {
  padding-top: 30px;
  padding-bottom: 10px;

  background-color: #bdb5b5;
}

.leader-page .text-icon {
margin-bottom: 10px;

  display: flex;
  justify-content: space-between;
}

.leader-text {
  font-weight: 500;

      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.77);
  color: #ffffff;
}

.leader-page .link-close {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 28px;
  height: 28px;

  border-radius: 50%;
  border: 2px solid #ffffff;
      background-color: #777171;
}

.leader-page .leader-icon {
  width: 100%;
  height: 100%;

      stroke: white;
    stroke-width: 3;
}

.img-quantity{
margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-position{
padding: 6px 4px;

  font-weight: 500;
  font-size: 13px;

  color: #ffffff;
  text-transform: uppercase;
      background-color: #f68424;
      border-radius: 8px;
      box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.75);
      cursor: pointer;
}

.leader-page .quantity{
    font-weight: 500;
    font-size: 19px;

  display: flex;
  align-items: center;
  gap: 5px;

      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.77);
  color: #ffffff;
}

.leader-page .main-list{
      box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.77);
}

.leader-page .main-link{
display: flex;
align-items: center;

  font-weight: 500;
  text-transform: uppercase;
}

.leader-page .main-number{
  margin-right: 5px;
  font-size: 21px;
  font-weight: 500;
}

.leader-page .img-price{
  margin-left: auto;

  display: flex;align-items: center;
  gap: 5px;
}

.leader-page .price{
font-size: 12px;
}



/* STYLES OF LEARN  */
.learn-page .img-quantity{
  flex-direction: row-reverse;
}

.learn-page .main-link{
  font-size: 14px;
}

/* STYLES OF QUESTION-1 */
.question-page{
  padding-bottom: 50px;
}

.question-page .text-icon{
  margin-bottom: 20px;
}

.question-title{
margin-bottom: 30px;

 width: 220px;height: 120px;

font-size: 15px;

display: flex;
justify-content: center;
align-items: center;

border-radius: 10px;
background-color: #575151;

  color: #ffffff;
      box-shadow: 1px 3px 1px -1px rgb(86 80 80 / 75%);
}

.question-page .main-list{
  padding: 0;

  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
}

.question-page .main-item{
      box-shadow: 1px 3px 1px -1px rgb(86 80 80 / 75%)
}

.question-page .main-link{
  font-size: 12px;
}